<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hprose" version="1.5.7" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Painless.Serializer.JsonNet" version="0.11.1" targetFramework="net461" />
  <package id="PainlessHttp" version="0.11.6" targetFramework="net461" />
</packages>